.listItem {
    display: block;
    cursor: pointer;
}
.listItem:hover {
    background-color: darkgray;
}
.listItemWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 48px;
    border-top: 1px solid #e8eaed;
}
.listItemHeader{
    margin-right: 10px;
}
.listItemCompany {
    display: flex;
    justify-content: space-between;
    width: 30px;
    color: #202124;
}
.good {
    background-color: lightgreen;
    color: darkgreen;
}
.bad {
    background-color: lightcoral;
    color: darkred;
}
.common {
    padding: 10px;
    border-radius: 15%;
}
.animateChange {
    transition: all 0.3s ease-out;
}